:root {
  /* VARIAVEIS EM CSS */
  --corPreto: #232323;
  --corPretoClaro: #2B2B2B;
  /*TOM DE PRETO QUE USAREMOS*/
  --corRoxo: #976dd0;
  /*TOM DE ROXO QUE USAREMOS*/
  --corBranco: #ffffff;
  /*BRANCO QUE USAREMOS*/
  --corFundo: #F5F5F5;
  /*TOM DE CINZA/BRANCA  QUE USAREMOS COMO FUNDO*/
  /*
      PARA UTILIZAR AS VARIAVEIS COLOQUE A PROPRIEDADE E
       COMO VALOR  USE O NOME DA VARIAVEL
       EX:
              h1{
                  color:  var(--corPreto);
              }
  */
}

/* CSS geral */

a{
  text-decoration: none;
  color: var(--corBranco);

}

.w33{
  width: 33.3%;
  float: left;
}

.w30{
  width: 30%;
  float: left;
}

.w70{
  width: 70%;
  float: left;
}

.clear{
  clear: both;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color:  var(--corPreto);
}

/* CSS Login/Index */

.section-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.header-login{
  background-color: var(--corRoxo);
  height: 60px;
  width:  100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: var(--corBranco);
  padding-top: 5px;
}


.formulario-login{
  color: var(--corBranco);
  margin-top: 54px;  
  /*top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* height: 300px; */
  /* width: 250px; */
}

.info-login{
  font-size: 30px;
  text-align: center;
}

.texto-input{
  text-align: left;
  width: 350px;
  margin: 0 auto;
}

.input-login{
  margin: 0 auto;
  font-size: 24px;
  padding: 5px;
  width: 350px;
  height: 40px;
  margin-bottom: 40px;
  background-color: #535353;
  color: var(--corBranco);
  border: none;
  border-radius: 2px;
  outline: none;
}

.div-login{
  text-align: center;
}

.div-botao{
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.botao-login{
  font-size: 24px;
  width: 280px;
  height: 46px;
  border-radius: 8px;
  background-color: var(--corRoxo);
  color: var(--corBranco);
  border: none;
  outline: none;
  transition: .4s;
}

.botao-login:hover{
  background-color: #8443df;
  cursor: pointer;
  
}

/* CSS da página de escolha dos servidores */

.escolha-servidores{
  margin-left: 41px;
  float: left;

}

.texto-servidores{
  font-size: 30px;
  color: var(--corBranco);
  margin-top: 100px;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

.holder{
  padding: 0 20px;
}

.main-holder{
  height: 600px;
  margin: 2%;
}

.holder-servidor{
  height: 500px;
  border-radius: 8px;
  background-color: var(--corRoxo);
  }

.imagem-servidor{
  width:  150px;
  margin-left: 100px;
  margin-top: 20px;
}

.numero-servidor{
  text-align: center;
}

.botao-escolha{
  width: 210px;
  height: 46px;
  border-radius: 8px;
  background-color: var(--corRoxo);
  color: var(--corBranco);
  border: none;
  outline: none;
  transition: .4s;  
}

section.graficos{
  margin: 40px 60px;
  height: 570px;
}

.box-componente{
  padding: 0 20px;
}

.box-grafico{
  padding: 0 20px;
}

.componente-item{
  background-color: var(--corPretoClaro);
  border-radius: 10px;
  height: 570px;
}

.grafico-item{
  background-color: var(--corPretoClaro);
  border-radius: 10px;
  height: 570px;
}

.componente-texto-item{
  color: white;
  height: 33.3%;
}

.texto-item{
  padding-top: 20px;
  text-align: center;
  font-size: 26px;
}

.texto2-item{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 16px;
}

.medidas-grafico{
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 70px;
}

.texto-grafico{
  margin-right: 50px;
  font-size: 26px;
}