/*CONFIGURAÇÃO GERAL - ESSA PARTE É PADRÃO EM TODO O SITE*/

:root {
   /* VARIAVEIS EM CSS */
   --corPreto: #232323;
   /*TOM DE PRETO QUE USAREMOS*/
   --corRoxo: #976DD0;
   /*TOM DE ROXO QUE USAREMOS*/
   --corBranco: #ffffff;
   /*BRANCO QUE USAREMOS*/
   --corFundo: #F5F5F5;
   /*TOM DE CINZA/BRANCA  QUE USAREMOS COMO FUNDO*/
   /*
       PARA UTILIZAR AS VARIAVEIS COLOQUE A PROPRIEDADE E
        COMO VALOR  USE O NOME DA VARIAVEL
        EX:
               h1{
                   color:  var(--corPreto);
               }
   */
}

* {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
   font-size: 18px;
   outline: 0;
   box-sizing: border-box;
}

/* ABAIXO PERSONALIZAÇÃO DA BARRA DE ROLAGEM */
/* Largura */
body::-webkit-scrollbar {
   width: 0.6rem;
}

/* Cor de fundo */
body::-webkit-scrollbar-track {
   background: var(--corBranco);
}

/* Cor do Scroll*/
body::-webkit-scrollbar-thumb {
   background: var(--corRoxo);
}
/* ACIMA PERSONALIZAÇÃO DA BARRA DE ROLAGEM */
/*Classe auxiliar*/
.w50 {
   float: left;
   width: 50%;
}
.w100 {
   float: left;
   width: 100%;
}
.w33 {
   float: left;
   width: 33.3%;
}
.w30 {
   float: left;
   width: 30%;
}
.clear{
   clear: both;
}

.container {
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 2%;
}

.highlight {
   color: var(--corRoxo);
}

.current {
   color: var(--corRoxo);
   border-bottom: var(--corRoxo) 1px solid;
}

main {
   height: 100%;
}

.card {
   box-shadow: 4px 4px 10px #0000004f;
   padding: 20px;
   border-radius: 3px;
}

.center-text {
   text-align: center;
}

body {
   background-color: whitesmoke;
}

.middle {
   display: flex;
   align-items: center;
}

.height-main {
   /* Se o seu main estiver sem tamanho...
   mesmo que você coloque conteúdo, utilize está classe
   */
   height: 90vh;
   margin-top: 20px;
}

/*CONFIGURAÇÃO GERAL - ESSA PARTE É PADRÃO EM TODO O SITE*/

/*CONFIGURAÇÃO HEADER E FOOTER- ESSA PARTE É PADRÃO EM TODO O SITE*/

header, footer {
   background: var(--corPreto);
   color: var(--corBranco);
   padding: 10px 0px;
   box-shadow: 2px 2px 10px #00000090;
}

footer {
   bottom: 0;
   position: relative;
   width: 100%;
   text-align: center;
   box-shadow: 2px -2px 10px #00000090;
}

nav, nav ul {
   margin-top: 10px;
   display: flex;
   justify-content: space-between;
   list-style: none;
   color: var(--corRoxo);
}

nav a {
   color: var(--corRoxo);
   text-decoration: none;
   text-transform: uppercase;
   font-size: 14px;
}

nav .link:hover {
   color: var(--corRoxo);
   transition: all 0.3s ease-in-out;
   padding: 0px 10px;
   border-top: var(--corRoxo) 1px solid;
   border-left: var(--corRoxo) 1px solid;
   box-shadow: 1px 1px var(--corRoxo), 2px 2px var(--corRoxo), 3px 3px var(--corRoxo);
   transform: translateX(-3px);
}

nav ul li {
   padding: 0px 20px 0px 20px;
}

header .icon-header {
   width: 40px;
   margin-right: 5px;
}

/*CONFIGURAÇÃO HEADER E FOOTER- ESSA PARTE É PADRÃO EM TODO O SITE*/

/*COLOQUE ABAIXO O CSS DA PÁGINA HOME  */

.imgHome {
   align-items: center;
   width: 100%;
   height: 500px;
   background-image: url('../img/RodoviaFullPistol.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   filter: var(--corPreto);
}

.imgHome .efeitoBgHome {
   height: 100%;
   width: 100%;
   background-color: var(--corPreto);
   opacity: 60%;
}

.imgHome .efeitoBgHome .textoHome {
   opacity: 100%;
   font-size: 23px;
   color: white;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: var(--corBranco);
}

.imgHome .efeitoBgHome .textoHome .highlight {
   opacity: 100%;
   font-size: 23px;
   color: var(--corRoxo);
}

.imgHome .efeitoBgHome .textoHome .botaoHome {
   opacity: 100%;
   background-color: transparent;
   border: var(--corRoxo) 3px solid;
   border-radius: 30px;
   color: white;
   padding: 10px;
   text-align: center;
   font-size: 18px;
   cursor: pointer;
}

.imgHome .efeitoBgHome .textoHome .botaoHome a{
   text-decoration: none;
   color: white;
}

.divisaoHome{
   background-color: #232323;
   border-top: 2px var(--corRoxo) solid;
   padding: 35px;
   text-align: center;
}

.divisaoHome .texto{
   color: white; 
   font-size: 40px; 
   border-bottom: 2px var(--corRoxo) solid;;
}

.box-item-home{
   padding: 0 20px;
}

.itens-home{
   margin: 0 5%;
   background-color: #232323;
}

.itens-home .item{
   min-height: 310px;
   text-align: center;
   color: var(--corFundo);
   font-size: 22px;
   border: var(--corRoxo) 2px solid;
   border-radius: 30px;
   box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
}

.itens-home .item img{
   width: 50%;
   padding-bottom: 20px;
}

.divComercial{
   display: flex;
   padding: 60px;
   background-color: var(--corPreto);
}

.divComercial a{
   text-decoration: none;
}

.divComercial .item{
   background-image: url('../img/money.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   margin: auto;
   height: 90px;
   width: 700px;
   border: var(--corRoxo) 2px solid;
   border-radius: 30px;
}

.divComercial .item .filtro{
   height: 100%;
   width: 100%;
   border-radius: 28px;
   background-color: #232323;
   background: rgba(0, 0, 0, 0.7);
}

.divComercial .item .filtro .texto{
   color: var(--corFundo);
   font-size: 24px;
   font-weight: 800;
   text-align: center;
   padding-top: 30px;
}

/*COLOQUE ACIMA O CSS DA PÁGINA HOME*/

/*COLOQUE ABAIXO O CSS DA PÁGINA  SOBRE  */

/* .titulouau{
   font-size: 30px;
   font-weight: lighter;
   width: 30vw;
   margin: auto;
   padding: 5px;
  
} */
.container1uau{
   height: 300px;   
   margin-top: 5%;;
}


.container1uau .carduau h1{
   text-align: center;
   color: purple;

}
.container1uau .carduau{
   width: 30%;
   padding: 10px;
   text-align: center;
   border-left: purple 3px solid;
   margin-left: 150px;
   margin-top: 30px;
}

.imageuau{
   height: 100%;
   float: right;
   margin-right: 150px;
}

.containeruau p{
   font-size: 20px;
   margin-top: 30px;
   text-align: left;
}
.containeruau h1{
margin-top: 30px;
}


/*COLOQUE ACIMA O CSS DA PÁGINA SOBRE*/

/*COLOQUE ABAIXO O CSS DA PÁGINA  LOGIN  */

form {
   width: 50%;
   margin: 30px auto;
   border: 1px #976DD0 solid;
   border-radius: 4px;
   /* APLICA UM ARREDONDAMENTO DE BORDA DE 4 PIXELS*/
   padding: 20px;
   color: var(--corFundo);
   background-color: #976DD0;
   /*APLICA UMA SOMBRA */
   box-shadow: 4px 4px 6px #00000067 ;
}

form input {
   width: 100%;
   border-radius: 4px;
   border: 1px #976DD0 solid;
   Margin: 10px 0px;
   padding: 5px 0px 5px 5px;
} 

form input::placeholder{
   color:#23232379;
}
form button {
   width: 100%;
   height: max-content;
   border: 0;
   border-radius: 0.5px;
   color: var(--corFundo);
   background-color: #232323;
   padding: 10px 15px;
   cursor: pointer;
   margin:  30px auto;
}

form button a, form a{
   font-style: normal;
   color: var(--corFundo);
   text-decoration: none;
}

form .link-form{
   margin:30px auto;
   padding: 5px;
}
form .box-form{
   border: 1px solid var(--corPreto);
   height: max-content;
   padding:  20px;
   margin: 20px auto

}
form .box-form legend{
   background-color: var(--corPreto);
   padding: 5px 10px;
}
form .box-form hr{
   width: 100%;
   border: 0.5px solid var(--corPreto);
   margin:20px auto;
}
.title-form{
   width: 100%;
   margin: 20px 0px;
   font-family:'Arial Narrow';
   font-size: 1.5em;
   font-weight: 200;
   color:var(--corPreto);
}
/*COLOQUE ACIMA O CSS DA PÁGINA LOGIN*/

/*COLOQUE ABAIXO O CSS DA PÁGINA  PROJETO  */

.exemplo {
   background-color: var(--corRoxo);
   width: 50%;
   height: 200px;
}

.article-content {
   display: flex;
   margin: 5% 0%;
}

.content-text {
   width: 50%;
}

.text-left {
   padding-left: 20px;
   text-align: left;
}

.text-right {
   padding-right: 20px;
   text-align: right;
}

.banner-page {
   width: 100%;
   height: 100%;
   background-image: url(../img/route1.jpg);
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: cover;
   background-attachment: fixed;
}

.separator-line {
   border: 1px var(--corRoxo) solid;
   border-radius: 5px;
   margin: 20px 0px;
}

.itens-projeto{
   width: 100%;
}

.itens-projeto p{
   color: var(--corPreto);
   font-weight: bold;
   padding-bottom: 20px;
}
.itens-projeto .box-item-projeto .item img{
   width: 30%;
   padding: 30px 2px;
}

.itens-projeto .box-item-projeto{
   padding: 20px;
   align-items: center;
}

.itens-projeto .box-item-projeto .item{
   width: 100%;
   min-height: 155px;
   text-align: center;
   color: var(--corFundo);
   font-size: 22px;
   border-radius: 30px;
   box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
   background-color: var(--corBranco);
}


/*COLOQUE ACIMA O CSS DA PÁGINA PROJETO*/

/*COLOQUE ABAIXO O CSS DA PÁGINA  EQUIPE  */

.content {
   display: flex;
   flex-flow: wrap row;
   justify-content: space-between;
   margin: 30px 0px;
}

.card-team {
   border: 2px var(--corRoxo) solid;
   width: 20vw;
   margin: 20px 0px;
   background-color: var(--corBranco);
}

.img-card {
   width: 40%;
   height: 20vh;
   margin: auto;
   border-radius: 50%;
   border: 2px var(--corRoxo) solid;
   margin-bottom: 20px;
   box-shadow: 1px 1px 10px #00000090;
}

.title-card, .text-card {
   font-size: 16px;
   font-weight: lighter;
   line-height: 1.5;
   letter-spacing: 2px;
   margin-top: 20px;
}

.title-page {
   font-size: 30px;
   font-weight: lighter;
   width: 30vw;
   margin: auto;
   padding: 5px;
   border-bottom: 2px var(--corRoxo) solid;
}


.margin-main {
   margin-top: 30px;
}

/*COLOQUE ACIMA O CSS DA PÁGINA EQUIPE*/

/*COLOQUE ABAIXO O CSS DA PÁGINA DASHBOARD*/
canvas {
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}



/*COLOQUE ACIMA O CSS DA PÁGINA DASHBOARD*/

/*COLOQUE ABAIXO O CSS DA PÁGINA TRECHOS*/
.button-add {
margin-left: 50%;
text-align: center;
text-decoration: none;
display: inline-block;
color: #ffffff;
background-color: #232323;
padding: 15px;
font-size: 20px;
border-radius: 50%;
border: none;
}

.button-trecho {
   width: 200px;
   border: none;
   text-align: center;
   margin-left: 100px;
}

.button-trecho:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
}

.footer-dash {
   position: absolute;
}
/*COLOQUE ACIMA O CSS DA PÁGINA TRECHOS*/
@media screen and (max-width: 768px){
   .w33 {
      width: 100%;
      margin-bottom: 20px;
   }
}